
.cta__button {
font-size: 16px;
font-weight: 700;
letter-spacing: 1px;
width: 100%;
margin-left: auto;
margin-right: auto;
max-width: 260px;
background: $green;
color: $white;
border: 2px solid $green;
border-radius: 25px;
transition: all 0.2s linear;
display: inline-flex;
justify-content: center;
align-items: center;
text-transform: uppercase;
min-height: 1px;
height: auto;
line-height: normal;
text-decoration: none;
outline: none;
cursor: pointer;


@at-root #{&}--regular{
//display: flex;
background: $blue;
border-color: $blue;
width: 120px;
border-width: 2px;
font-size: 14px;
    padding: 11px 0px;

    &:hover{
        background:$green;
        border-color: $green;
    }
   
}

@at-root #{&}--submit{
    //display: flex;
    background: $light-blue;
    font-size: 15px;
       border:none;
        position: absolute ;
        border-radius: 30px;
        display: block ;
        right: 7px;
        top:5px;
        width: 122px ;
        z-index: 9 ;
        height: 50px;

        &:hover{
            background:$dark-gray;
        }
       
    }


    @at-root #{&}--shop-now {
        height: 50px;
        background:$green;
        width: 229px ;
        font-weight : 700;
        margin-top:16px;
        border: 3px solid $green;
        &:hover{
            //background-color: $green;
            background:$dark-gray;
            border-color: $dark-gray;
        }
    }

}