/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$light-gray: #94909157;
$dark-gray: #454344;
$green: #22cf87;
$red : #e9515d;
$foreground-color: #fff;
$desc-color: #4d5059;
$accent-color: #999;
$blue: #004991;
$light-blue: #52b6db;
/* Components */
