.header {
    position: relative;
    border-bottom: 1px solid #dad9d9;
    background: $white;
    padding-top: 10px;
    padding-bottom: 10px;

    @at-root #{&}__navbar {
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @at-root #{&}__logo {
        width: auto;
        float: left;
        display: flex;
        @include fadeIn($duration: 1.5s, $count: 1, $delay: #{0/5}s, $function: ease, $fill: both);

        @at-root #{&}-link {
            display: inline-block;
        }
    }

    @at-root #{&}__nav {
        width: auto;
        flex-grow: 1;
        display: none;

        @include breakpoint(md) {
            display: block;
        }
    }

    @at-root #{&}__menu {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0px;
        text-align: center;
        margin: 0;

        @at-root #{&}--contact {
            border-left: 2px solid $light-gray;
            display: none;

            @include breakpoint(md) {
                display: inline-flex;
            }

            .header__link {
                &:after {
                    display: none;
                }
            }
        }
    }

    @for $item from 1 through 5 {
        @at-root #{&}__list:nth-child(#{$item}) {
            @include fadeInLeft($duration: 0.5s, $count: 1, $delay: #{$item/5}s, $function: ease, $fill: both);
        }
    }

    @at-root #{&}__link {
        padding: 12px 15px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 14px;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        outline: 0;
        display: block;
        line-height: 41px;
        color: $blue;
        cursor: pointer;

        &:hover {
            color: $dark-gray;
        }

        &:after {
            display: inline-block;
            content: "";
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMzU2LjIgODg4LjEiPjxwYXRoIGZpbGw9IiMwMDQ5OTEiIGQ9Ik02NzguMSA4ODguMUM0NTIgNjQ5LjkgMjI2LjIgNDEyIDAgMTczLjcgNTUgMTE1LjcgMTA5LjggNTggMTY0LjggMCAzMzYgMTgwLjQgNTA2LjggMzYwLjQgNjc4IDU0MC44IDg0OS4yIDM2MC41IDEwMjAgMTgwLjYgMTE5MS4zIDBjNTUgNTcuOSAxMDkuNyAxMTUuNiAxNjQuOSAxNzMuN0MxMTMwIDQxMiA5MDQuMiA2NDkuOSA2NzguMSA4ODguMXoiLz48L3N2Zz4=);
            height: 15px;
            width: 15px;
            background-repeat: no-repeat;
            vertical-align: middle;
            margin-top: 3px;
        }

        @at-root #{&}--no-dropdown {
            &:after {
                display: none;
            }
        }
    }

    @at-root #{&}__cart {
        display: flex;
        align-items: center;
        @include fadeInRight($duration: 1.8s, $count: 1, $delay: #{0/5}s, $function: ease, $fill: both);
    }

    @at-root #{&}__icon {
        float: none;
        margin-left: 0;
        white-space: nowrap;
        display: inline-flex;
        margin-right: 10px;
        position: relative;

        &:before {
            font-family: "turbo";
            font-style: normal;
            font-weight: normal;
            display: inline-block;
            text-decoration: inherit;
            width: 56px;
            margin-right: 5px;
            text-align: center;
            font-variant: normal;
            text-transform: none;
            margin-left: 5px;
            -webkit-font-smoothing: antialiased;
            content: "\e902";
            font-size: 24px;
            color: #8f8f91;
        }
    }

    @at-root #{&}__count {
        background: $red;
        color: $white;
        font-size: 12px;
        width: 20px;
        top: -5px;
        right: -3px;
        height: 20px;
        letter-spacing: initial;
        padding: 0;
        border-radius: 50%;
        justify-content: center;
        position: absolute;
        font-weight: 700;
        line-height: 21px;
        text-align: center;
    }

    @at-root #{&}__mobile {
        display: none;

        @at-root #{&}-title {
            clear: both;
            float: left;
            display: none;
        }

        div {
            width: 30px;
            top: 10px;
            height: 40px;
            position: relative;
            float: left;
            margin: 0 8px 0 5px;
            transition: 0.1s ease-in-out;
            cursor: pointer;


            @for $item from 1 through 5 {
                span:nth-child(#{$item}) {
                    @include fadeInLeft($duration: 0.5s, $count: 1, $delay: #{$item/5}s, $function: ease, $fill: both);
                }
            }

            span {
                display: block ;
                position: absolute ;
                height: 2px ;
                width: 100%;
                background: #004991;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                padding: 0;
                transition: 0.1s ease-in-out;

                &:nth-child(2) {
                    top: 10px;
                }

                &:nth-child(1) {
                    top: 16px;
                }

                &:nth-child(3) {
                    top: 22px;
                }
            }
        }

        @include breakpoint(xs) {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            align-items: center;
            z-index: 1;
        }
    }
}
